
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RaiderPlate_Cont.Models.Item>
@using RaiderPlate_Cont.Models;
<fieldset>
    <legend>Your cart:</legend>
    <table class="table table-striped table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            @{
                double sum = 0;
             }
            @if (Model != null)
            {
                foreach (Item i in (List<Item>)Model)
                {
                    sum = sum + (i.Product.productPrice * i.Quantity);
                    <tr>
                        <td>@i.Product.productName</td>
                        <td>@i.Product.productPrice</td>
                        <td>@i.Quantity</td>
                        <td>$ @(i.Product.productPrice * i.Quantity)</td>
                    </tr>
                }
            }
                    <tr>
                        <td colspan="3">SubTotal</td>
                        <td>$ @sum</td>
                    </tr>
        </tbody>
    </table>

    <button type="button" onclick="location.href='@Url.Action("Index","Home")'">Continue Shopping</button>
</fieldset>

